@use '../abstracts/variables' as *;
@use 'sass:color';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $space-sm $space-lg;
  border: 2px solid transparent;
  border-radius: $radius-md;
  cursor: pointer;
  font-family: $font-main;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  line-height: 1;
  text-decoration: none;
  transition: all $transition-base;
  will-change: background-color, transform, box-shadow;
  user-select: none;

  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: $shadow-base;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      background-color: color.adjust($color-primary, $lightness: -10%);
      box-shadow: $shadow-sm;
    }

    &--success {
      background-color: $color-primary;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        background-color: color.adjust($color-primary, $lightness: -10%);
      }
    }
  }

  &--secondary {
    background-color: transparent;
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--danger {
    background-color: $color-danger;
    color: $color-white;

    &:hover {
      background-color: color.adjust($color-danger, $lightness: 10%);
    }
  }

  &--small {
    padding: $space-xs $space-sm;
    font-size: $font-size-xs;
  }

  &--large {
    padding: $space-md $space-xl;
    font-size: $font-size-lg;
  }

  &--block {
    width: 100%;
    display: flex;
  }

  &:disabled,
  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;

    &:hover {
      transform: none;
    }
  }
}