@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as mx;

@use 'base/reset';

@use 'layout/grid';

@use 'components/button';
@use 'components/card-investment';
@use 'components/utilities';

@use 'pages/home';

.sr-only {
  @include mx.sr-only;
}
