* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1a237e;
  --secondary-color: #ffd600;
  --danger-color: #d32f2f;
  --success-color: #388e3c;
  --background-color: #f5f5f5;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #262626;
  background-color: var(--background-color);
  line-height: 1.6;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  text-align: center;
  color: #FFF;
  background-color: var(--primary-color);
  padding: 16px 0;

  nav h1 {
    margin: 0;
    font-size: 28px;
  }
}

main {
  width: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
  background: #FFF;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 40px auto;

  h2 {
    text-align: start;
    font-size: 1.375rem;
    margin-bottom: 16px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 0px;
    padding-right: 12px;
    width: max-content;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .campo {
    margin-bottom: 8px;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.campo input,
.campo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.campo input:focus,
.campo textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.campo input.input-error,
.campo textarea.input-error {
  border-color: var(--danger-color);
}

.campo textarea {
  min-height: 120px;
  resize: vertical;
  font-family: inherit;
}

.btn-enviar {
  background: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-enviar:hover {
  background: #0d1657;
}

.btn-enviar:active {
  transform: translateY(1px);
}

.nome-error,
.email-error {
  display: none;
}

.message-error {
  display: block;
  color: var(--danger-color);
  font-size: 0.875rem;
  margin-top: 12px;
  font-weight: 500;
  min-height: 20px;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #DDD;

  & p {
    color: #545454;
    font-size: 14px;
  }
}